<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gcart</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" type="text/css" href="stylesheet/adminlogin.css">
</head>

<body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form action="/adminlogin" method="post">
            <!-- <label for="username">Username:</label>
            <input type="text" id="username" name="Ausername" ><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="Apassword" ><br><br> -->

            <button type="submit">Login</button>
            <h3>click here</h3>
        </form>
        <p class="text-danger">
            <%= locals.msg %>
        </p>

    </div>
</body>

</html>