.gradient-custom {
    /* fallback for old browsers */
    background: #a0a19b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(139, 134, 144), rgb(37, 252, 195));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(169, 203, 17), rgb(112, 252, 37))
    }