<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gcart</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>OTP Validation</h1>

                    </div>
                    <div class="card-body">
                        <form action="/EmailPost" method="post">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="Email" class="font-weight-bold text-primary">Enter Email Id:</label>
                                    <input type="text" class="form-control" id="Email" name="Emailid" required>
                                </div>


                            </div>
                            <p class="text-danger">
                                <%= locals.msg %>
                            </p>
                            <button type="submit" class="btn btn-success btn-block mt-3">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts at the end of the body -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>